body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 70px);
  gap: 2px;
}

.card {
  width: 70px;
  height: 70px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.flipped {
  background-color: #fff;
}

.question {
  color: black;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  padding: 20px;
}

label {
  font-weight: bold;
}

input[type="radio"] {
  margin-right: 10px;
}

.abc {
  background-color: white;
 
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
